<div class="background-wallpaper">

</div>
<div class="shadow-lg container">
  <form action="">
    <h4 class="text-white mb-3">Sign In</h4>
  <div class="form-group">
  <input type="text" placeholder="Email or phone number" class="form-control" name="email">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" class="form-control" name="Password">
    </div>
    <div class="button-signin text-center">
  <button class="btn btn-danger w-50" routerLink="/home">Sign In</button>
  </div>
  <div class="d-inline-flex justify-content-between w-100">
    <div class="d-inline-flex">
      <input type="checkbox" class="bg-secondary"  >
      <p class="text-secondary pt-3" style="font-size: 0.8rem;padding-left: 0.2rem;">Remember me</p>
    </div>
    <p class="text-secondary pt-3" style="font-size: 0.8rem;">Need help ?</p>
  </div>
  
  </form>
  </div>