<div class="side-bar-nav">
  <div id="mySidenav" class="sidenav col-3">
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->

    <a
      class="nav-link"
      routerLink="/SearchPage"
      id="search"
      onclick="openNav('search')"
      ><i class="fa-solid fa-search"></i>
      <span style="padding-left: 3.3rem"> Search</span></a
    >
    <a class="nav-link" routerLink="/home" id="home" onclick="openNav('home')"
      ><i class="fa-solid fa-house"></i>
      <span style="padding-left: 3.3rem"> Home</span></a
    >
    <a class="nav-link" routerLink="/home" id="tv" onclick="openNav('tv')"
    (click)="alert()"
      ><i class="fa-solid fa-tv"></i>
      <span style="padding-left: 3.3rem"> Series</span></a
    >
    <a
      class="nav-link"
      routerLink="/home"
      id="movies"
      onclick="openNav('movies')"
      (click)="alert()"
      ><i class="fa-solid fa-clapperboard"></i>
      <span style="padding-left: 3.3rem"> Movies</span></a
    >
    <a class="nav-link" routerLink="/home" id="plus" onclick="openNav('plus')"
    (click)="alert()"
      ><i class="fa-solid fa-plus"></i>
      <span style="padding-left: 3.3rem"> List</span></a
    >
    <a
      class="nav-link"
      routerLink="/home"
      id="calendar"
      (click)="alert()"
      onclick="openNav('calendar')"
      ><i class="fa-solid fa-calendar-days"></i>
      <span style="padding-left: 3.3rem">New Arrival</span></a
    >
  </div>
  <!-- <span style="font-size:30px;cursor:pointer;" class="text-secondary col-2" onclick="closeNav()">&#9776; </span> -->
</div>
